parameters:
    level: 5
    paths:
        - src
        - tests
services:
    -
        class: Utopia\PHPStan\DisallowAssertEqualsExtension
        tags:
            - phpstan.restrictedMethodUsageExtension